.container {
    background-color: #999999;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}
.item {
    width: auto;
    background-color: #000000;
    height: 12vh;
    margin: 2vh 3vw;
    padding: 9vh 1vw;
    border-radius: 2%;
    border: 2px solid #FDFDFD;
    flex-grow: 0;
    position: relative;
    transition: top 1s;
    top: 0;
}
.clear-button {
    position: absolute;
    right: 85%;
    bottom: 85%;
}
.item:hover {
    border: none;
    box-shadow: 0 8px 16px 10px #9E1221;
    top: -1em;
}
.name {
    color: white;
}
.item:hover .scan-actions {
    display: inline;
}
.item:hover .name {
    color: #9E1221;
    font-weight: bold;
}
.url {
    color: white;
}
.status {
    color: white;
    position: absolute;
    top: 0;
    margin-top: 2vh;
    padding: 1%;
    border-radius: 15px;
}
.not-executed {
    background-color: #3b3b3b;
}
.running {
    background-color: #0275D8;
}
.completed {
    background-color: #00C060;
}

.scan-actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0vw;
    width: auto;

}
.svg:hover {
    border: solid 3px white;
    border-radius: 2px;
    background-color: white;
}
.empty-message{
    padding: 2vw;
}
