.container {
    color: white;
    background-color: #999999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-results {
    width: 50%;
    color: white;
    background-color: #999999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.item {
    background-color: #000000;
    padding: 2vw;
    border-radius: 2%;
    height: max-content;
    width: 45vw;
    border: 2px solid #FDFDFD;
    flex-grow: 0;
    transition: top 1s;

}
.scan-header {
    color: black;
    width: 100%;
    padding: 10px;
}
.card-title {
    font-size: 250%;
    margin: 2px;
    color: #9E1221;
}
.card-subtitle {
    font-size: 150%;
    margin: 2px;
}
.raw-response {
    font-size: 80%;
    border-radius: 10px;
    height: 45vh;
    padding: 9px;
    color: black;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #999999;
}
.raw-response p {
    margin: 0px;
}
.raw-content {
    white-space: pre-wrap;
}
.secure-headers {
    border-radius: 10px;
    color: black;
    padding: 9px;
    background-color: #999999;
}
.sensitive-headers {
    border-radius: 10px;
    color: black;
    padding: 9px;
    background-color: #999999;
}
.secure-headers p {
    margin: 1px;
}
.checklist {
    color: white;
    text-align: center;
}
.nok {
    background-color: #9E1221;
}
.ok {
    background-color: #00C060;
}
.methods {
    border-radius: 10px;
    padding: 9px;
    color: black;
    background-color: #999999;
}
.methods p {
    margin: 1px;
}
button {
    background-color: black;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.links {
    border-radius: 10px;
    padding: 9px;
    color: black;
    background-color: #999999;
    overflow-y: auto;
    height: 22vh;
}
th {
    background-color: black;
    color: white;
}
.links p {
    margin: 1px;
}
td {
    border-top: solid 2px black;
    text-align: center;
    padding: 0 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 0;
    border: solid 2px black;
}
label {
    color: black;
}
.enum {
    border-radius: 10px;
    padding: 9px;
    color: black;
    background-color: #999999;
    overflow-y: auto;
    height: auto;
}
.enum-item {
    background-color: #000000;
    padding: 2vw;
    border-radius: 2%;
    height: max-content;

    border: 2px solid #FDFDFD;
    flex-grow: 0;
    transition: top 1s;
}
.response-td {
    padding: 0;
    display: none;
}
#response-text {
    border: solid 2px white;
    white-space: pre-wrap;
    width: 100%;
    height: 50vh;
    margin: 0;
    color: white;
    background-color: black;
    overflow-y: auto;
}
.content-raw {
    display: none;
}
#modal {
    color: white;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
#modalContent {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
    height: auto;
}
#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#close-modal:hover,
#close-modal:focus {
    color: #9E1221;
    text-decoration: none;
    cursor: pointer;
}
.highlight {
    background-color: #FFFF88;
    color: black;
}
